html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

* {
    box-sizing: border-box;
}

div.box {
    margin: 0;
    padding: 0;
    border: 2px solid #FFF;
    position: absolute;
}

div.box p {
    background: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    color: #000;
    margin: 0;
}